.banner-container {
  position: relative;
  overflow: hidden; 
}

.banner-background {
  position: relative;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  position: relative; 
}

.banner-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(110, 110, 110, 0.5);
}

.banner-background::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white; 
  clip-path: polygon(100% 70%, 0% 100%, 100% 100%);
}

.banner {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  z-index: 1;
}

.banner-content h1 {
  font-size: 50px;
  margin: 0;
  padding: 5px;
}

.banner-content p {
  margin: 0;
  padding: 5px;
}