.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: rgba(239, 109, 52, 1);
  transition: top 0.3s;
  z-index: 2; 
}

.header.hide {
  top: -100px;
}

.header.show {
  top: 0;
}

.header .logo img {
  height: 50px;
  padding: 10px;
  padding-left: 30px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding-right: 80px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}

nav ul li.active {
  position: relative;
}

nav ul li.active::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
  bottom: -5px;
  left: 0;
}
