.ListPosts {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.info-controls {
  padding: 30px 40px 30px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.controls {
  display: flex;
  gap: 30px;
}

.dropdown {
  margin-left: 10px;
  font-size: 15px;
  width: 125px;
  border-radius: 20px;
  appearance: none; 
  padding: 10px; 
  padding-left: 15px; 
  border: 1px solid #ccc;
  background-image: url('../assets/caret-down-solid.svg'); 
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 10px;
}

.dropdown:focus {
  outline: none; 
  border-color: #007bff; 
}

.post-list {
  display: flex;
  flex-direction: column;
}

.posts {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 25px;
  grid-auto-rows: auto;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 25px;
}

.post-card {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.img-container {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.post-details {
  padding: 15px;
}

.post-details p {
  margin: 0;
  color: #666;
  font-size: 15px;
  padding-top: 5px;
}

.post-details h4 {
  margin: 10px 0 0;
  font-size: 15px;
  line-height: 1.4;
  max-height: 3em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical;
  padding-bottom: 20px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 75px;
}

.pagination button {
  margin: 0 5px;
  padding: 10px 15px;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.pagination button:disabled {
  background: #ccc;
}

.pagination span {
  margin: 0 10px;
}